<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crestron.DeviceDrivers.DevKit" version="27.0.24" targetFramework="net472" />
  <package id="Crestron.DeviceDrivers.ManifestUtil" version="27.0.24" targetFramework="net472" />
  <package id="Crestron.DeviceDrivers.Program" version="27.0.24" targetFramework="net472" />
  <package id="Crestron.DeviceDrivers.ProgramInterface" version="27.0.24" targetFramework="net472" />
  <package id="Crestron.SimplSharp.SDK.Library" version="2.21.237" targetFramework="net472" />
  <package id="Crestron.SimplSharp.SDK.ProgramLibrary" version="2.21.237" targetFramework="net472" />
</packages>